<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3112</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/ka-kirat/kha-kirat/ma-kirat/jha-kirat/nya-kirat/ta-kirat/jha-kirat/ya-kirat/sha-kirat 
/a-kirat/ueMatra-kirat/a-kirat/uMatra-kirat/a-kirat/halant-kirat/a-kirat/tonpi-kirat/a-kirat/saat-kirat/yupi-kirat/a-kirat/visarga-kirat/anusvara-kirat/danda-kirat/a-kirat/danda-kirat/doubleDanda-kirat// 
/a-kirat/auMatra-kirat/a-kirat/eMatra-kirat/a-kirat/aiMatra-kirat/a-kirat/oMatra-kirat/a-kirat/aaMatra-kirat/a-kirat/iMatra-kirat/bha-kirat/ga-kirat/ja-kirat/dda-kirat/tha-kirat/gha-kirat/cha-kirat/da-kirat/nga-kirat/ca-kirat/tta-kirat 
/na-kirat/pa-kirat/pha-kirat/ba-kirat/sa-kirat/ma-kirat/ra-kirat/la-kirat/cha-kirat/va-kirat/ttha-kirat</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.uniqueID</key>
  <string>SIL International: Kanchenjunga Regular: 2021</string>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>org.sil.altLineMetrics</key>
  <dict>
    <key>loose</key>
    <dict>
      <key>ascender</key>
      <integer>2900</integer>
      <key>descender</key>
      <integer>-1100</integer>
    </dict>
    <key>tight</key>
    <dict>
      <key>ascender</key>
      <integer>2100</integer>
      <key>descender</key>
      <integer>-550</integer>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>a-kirat</string>
    <string>ka-kirat</string>
    <string>kha-kirat</string>
    <string>ga-kirat</string>
    <string>gha-kirat</string>
    <string>nga-kirat</string>
    <string>ca-kirat</string>
    <string>cha-kirat</string>
    <string>ja-kirat</string>
    <string>jha-kirat</string>
    <string>nya-kirat</string>
    <string>tta-kirat</string>
    <string>ttha-kirat</string>
    <string>dda-kirat</string>
    <string>ddha-kirat</string>
    <string>ta-kirat</string>
    <string>tha-kirat</string>
    <string>da-kirat</string>
    <string>dha-kirat</string>
    <string>na-kirat</string>
    <string>pa-kirat</string>
    <string>pha-kirat</string>
    <string>ba-kirat</string>
    <string>bha-kirat</string>
    <string>ma-kirat</string>
    <string>ya-kirat</string>
    <string>ra-kirat</string>
    <string>la-kirat</string>
    <string>va-kirat</string>
    <string>sa-kirat</string>
    <string>sha-kirat</string>
    <string>ha-kirat</string>
    <string>aaMatra-kirat</string>
    <string>iMatra-kirat</string>
    <string>uMatra-kirat</string>
    <string>ueMatra-kirat</string>
    <string>eMatra-kirat</string>
    <string>aiMatra-kirat</string>
    <string>oMatra-kirat</string>
    <string>auMatra-kirat</string>
    <string>halant-kirat</string>
    <string>anusvara-kirat</string>
    <string>tonpi-kirat</string>
    <string>visarga-kirat</string>
    <string>saat-kirat</string>
    <string>yupi-kirat</string>
    <string>danda-kirat</string>
    <string>doubleDanda-kirat</string>
    <string>zero-kirat</string>
    <string>one-kirat</string>
    <string>two-kirat</string>
    <string>three-kirat</string>
    <string>four-kirat</string>
    <string>five-kirat</string>
    <string>six-kirat</string>
    <string>seven-kirat</string>
    <string>eight-kirat</string>
    <string>nine-kirat</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ntilde</string>
    <string>Odieresis</string>
    <string>Udieresis</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>iacute</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ograve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>otilde</string>
    <string>uacute</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>dagger</string>
    <string>degree</string>
    <string>cent</string>
    <string>sterling</string>
    <string>section</string>
    <string>bullet</string>
    <string>paragraph</string>
    <string>germandbls</string>
    <string>registered</string>
    <string>copyright</string>
    <string>trademark</string>
    <string>acute</string>
    <string>dieresis</string>
    <string>notequal</string>
    <string>AE</string>
    <string>Oslash</string>
    <string>infinity</string>
    <string>plusminus</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>yen</string>
    <string>micro</string>
    <string>partialdiff</string>
    <string>summation</string>
    <string>product</string>
    <string>pi</string>
    <string>integral</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>Ohm</string>
    <string>ae</string>
    <string>oslash</string>
    <string>questiondown</string>
    <string>exclamdown</string>
    <string>logicalnot</string>
    <string>radical</string>
    <string>florin</string>
    <string>approxequal</string>
    <string>Delta</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>ellipsis</string>
    <string>nbspace</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>oe</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>lozenge</string>
    <string>ydieresis</string>
    <string>Ydieresis</string>
    <string>fraction</string>
    <string>currency</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fi</string>
    <string>fl</string>
    <string>daggerdbl</string>
    <string>periodcentered</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>perthousand</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Aacute</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>dottedCircle</string>
    <string>Ograve</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>idotless</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>euro</string>
    <string>eth</string>
    <string>Eth</string>
    <string>thorn</string>
    <string>Thorn</string>
    <string>scaron</string>
    <string>Scaron</string>
    <string>yacute</string>
    <string>Yacute</string>
    <string>zcaron</string>
    <string>Zcaron</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>foursuperior</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>hyphenationpoint</string>
    <string>bulletoperator</string>
    <string>brokenbar</string>
    <string>hyphentwo</string>
    <string>nonbreakinghyphen</string>
    <string>softhyphen</string>
    <string>figuredash</string>
    <string>horizontalbar</string>
    <string>minus</string>
    <string>acutecomb</string>
    <string>gravecomb</string>
    <string>circumflexcomb</string>
    <string>caroncomb</string>
    <string>tildecomb</string>
    <string>multiply</string>
    <string>divisionslash</string>
    <string>dieresiscomb</string>
    <string>ringcomb</string>
    <string>cedillacomb</string>
    <string>blank</string>
    <string>graphemejoinercomb</string>
    <string>VS1</string>
    <string>VS2</string>
    <string>VS3</string>
    <string>VS4</string>
    <string>VS5</string>
    <string>VS6</string>
    <string>VS7</string>
    <string>VS8</string>
    <string>VS9</string>
    <string>VS10</string>
    <string>VS11</string>
    <string>VS12</string>
    <string>VS13</string>
    <string>VS14</string>
    <string>VS15</string>
    <string>VS16</string>
    <string>wordjoiner</string>
    <string>zerowidthjoiner</string>
    <string>zeroWidthNoBreakSpace</string>
    <string>zerowidthnonjoiner</string>
    <string>zerowidthspace</string>
    <string>lineseparator</string>
    <string>objectReplacementCharacter</string>
    <string>paragraphseparator</string>
    <string>emquad</string>
    <string>emspace</string>
    <string>narrownbspace</string>
    <string>punctuationspace</string>
    <string>sixperemspace</string>
    <string>threeperemspace</string>
    <string>enquad</string>
    <string>enspace</string>
    <string>fourperemspace</string>
    <string>figurespace</string>
    <string>thinspace</string>
    <string>hairspace</string>
    <string>replacementCharacter</string>
    <string>FontBslnSideBrngMrkrLft</string>
    <string>FontBslnSideBrngMrkrRt</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>FontBslnSideBrngMrkrLft</key>
    <string>uniF130</string>
    <key>FontBslnSideBrngMrkrRt</key>
    <string>uniF131</string>
    <key>Ohm</key>
    <string>Omega</string>
    <key>VS1</key>
    <string>uniFE00</string>
    <key>VS10</key>
    <string>uniFE09</string>
    <key>VS11</key>
    <string>uniFE0A</string>
    <key>VS12</key>
    <string>uniFE0B</string>
    <key>VS13</key>
    <string>uniFE0C</string>
    <key>VS14</key>
    <string>uniFE0D</string>
    <key>VS15</key>
    <string>uniFE0E</string>
    <key>VS16</key>
    <string>uniFE0F</string>
    <key>VS2</key>
    <string>uniFE01</string>
    <key>VS3</key>
    <string>uniFE02</string>
    <key>VS4</key>
    <string>uniFE03</string>
    <key>VS5</key>
    <string>uniFE04</string>
    <key>VS6</key>
    <string>uniFE05</string>
    <key>VS7</key>
    <string>uniFE06</string>
    <key>VS8</key>
    <string>uniFE07</string>
    <key>VS9</key>
    <string>uniFE08</string>
    <key>a-kirat</key>
    <string>u16D40</string>
    <key>aaMatra-kirat</key>
    <string>u16D60</string>
    <key>aiMatra-kirat</key>
    <string>u16D65</string>
    <key>anusvara-kirat</key>
    <string>u16D69</string>
    <key>auMatra-kirat</key>
    <string>u16D67</string>
    <key>ba-kirat</key>
    <string>u16D56</string>
    <key>bha-kirat</key>
    <string>u16D57</string>
    <key>bulletoperator</key>
    <string>uni2219</string>
    <key>ca-kirat</key>
    <string>u16D46</string>
    <key>caroncomb</key>
    <string>uni030C</string>
    <key>cedillacomb</key>
    <string>uni0327</string>
    <key>cha-kirat</key>
    <string>u16D47</string>
    <key>circumflexcomb</key>
    <string>uni0302</string>
    <key>da-kirat</key>
    <string>u16D51</string>
    <key>danda-kirat</key>
    <string>u16D6E</string>
    <key>dda-kirat</key>
    <string>u16D4D</string>
    <key>ddha-kirat</key>
    <string>u16D4E</string>
    <key>dha-kirat</key>
    <string>u16D52</string>
    <key>dieresiscomb</key>
    <string>uni0308</string>
    <key>divisionslash</key>
    <string>uni2215</string>
    <key>dottedCircle</key>
    <string>uni25CC</string>
    <key>doubleDanda-kirat</key>
    <string>u16D6F</string>
    <key>eMatra-kirat</key>
    <string>u16D64</string>
    <key>eight-kirat</key>
    <string>u16D78</string>
    <key>emquad</key>
    <string>uni2001</string>
    <key>emspace</key>
    <string>uni2003</string>
    <key>enquad</key>
    <string>uni2000</string>
    <key>enspace</key>
    <string>uni2002</string>
    <key>euro</key>
    <string>Euro</string>
    <key>figurespace</key>
    <string>uni2007</string>
    <key>five-kirat</key>
    <string>u16D75</string>
    <key>four-kirat</key>
    <string>u16D74</string>
    <key>fourperemspace</key>
    <string>uni2005</string>
    <key>foursuperior</key>
    <string>uni2074</string>
    <key>ga-kirat</key>
    <string>u16D43</string>
    <key>gha-kirat</key>
    <string>u16D44</string>
    <key>graphemejoinercomb</key>
    <string>uni034F</string>
    <key>guillemetleft</key>
    <string>guillemotleft</string>
    <key>guillemetright</key>
    <string>guillemotright</string>
    <key>ha-kirat</key>
    <string>u16D5F</string>
    <key>hairspace</key>
    <string>uni200A</string>
    <key>halant-kirat</key>
    <string>u16D68</string>
    <key>horizontalbar</key>
    <string>uni2015</string>
    <key>hyphenationpoint</key>
    <string>uni2027</string>
    <key>hyphentwo</key>
    <string>uni2010</string>
    <key>iMatra-kirat</key>
    <string>u16D61</string>
    <key>idotless</key>
    <string>dotlessi</string>
    <key>ja-kirat</key>
    <string>u16D48</string>
    <key>jha-kirat</key>
    <string>u16D49</string>
    <key>ka-kirat</key>
    <string>u16D41</string>
    <key>kha-kirat</key>
    <string>u16D42</string>
    <key>la-kirat</key>
    <string>u16D5B</string>
    <key>lineseparator</key>
    <string>uni2028</string>
    <key>ma-kirat</key>
    <string>u16D58</string>
    <key>micro</key>
    <string>uni00B5</string>
    <key>na-kirat</key>
    <string>u16D53</string>
    <key>narrownbspace</key>
    <string>uni202F</string>
    <key>nbspace</key>
    <string>uni00A0</string>
    <key>nga-kirat</key>
    <string>u16D45</string>
    <key>nine-kirat</key>
    <string>u16D79</string>
    <key>nonbreakinghyphen</key>
    <string>uni2011</string>
    <key>nya-kirat</key>
    <string>u16D4A</string>
    <key>oMatra-kirat</key>
    <string>u16D66</string>
    <key>objectReplacementCharacter</key>
    <string>uniFFFC</string>
    <key>one-kirat</key>
    <string>u16D71</string>
    <key>pa-kirat</key>
    <string>u16D54</string>
    <key>paragraphseparator</key>
    <string>uni2029</string>
    <key>pha-kirat</key>
    <string>u16D55</string>
    <key>punctuationspace</key>
    <string>uni2008</string>
    <key>ra-kirat</key>
    <string>u16D5A</string>
    <key>replacementCharacter</key>
    <string>uniFFFD</string>
    <key>ringcomb</key>
    <string>uni030A</string>
    <key>sa-kirat</key>
    <string>u16D5D</string>
    <key>saat-kirat</key>
    <string>u16D6C</string>
    <key>seven-kirat</key>
    <string>u16D77</string>
    <key>sha-kirat</key>
    <string>u16D5E</string>
    <key>six-kirat</key>
    <string>u16D76</string>
    <key>sixperemspace</key>
    <string>uni2006</string>
    <key>softhyphen</key>
    <string>uni00AD</string>
    <key>ta-kirat</key>
    <string>u16D4F</string>
    <key>tha-kirat</key>
    <string>u16D50</string>
    <key>thinspace</key>
    <string>uni2009</string>
    <key>three-kirat</key>
    <string>u16D73</string>
    <key>threeperemspace</key>
    <string>uni2004</string>
    <key>tonpi-kirat</key>
    <string>u16D6A</string>
    <key>tta-kirat</key>
    <string>u16D4B</string>
    <key>ttha-kirat</key>
    <string>u16D4C</string>
    <key>two-kirat</key>
    <string>u16D72</string>
    <key>uMatra-kirat</key>
    <string>u16D62</string>
    <key>ueMatra-kirat</key>
    <string>u16D63</string>
    <key>va-kirat</key>
    <string>u16D5C</string>
    <key>visarga-kirat</key>
    <string>u16D6B</string>
    <key>wordjoiner</key>
    <string>uni2060</string>
    <key>ya-kirat</key>
    <string>u16D59</string>
    <key>yupi-kirat</key>
    <string>u16D6D</string>
    <key>zero-kirat</key>
    <string>u16D70</string>
    <key>zeroWidthNoBreakSpace</key>
    <string>uniFEFF</string>
    <key>zerowidthjoiner</key>
    <string>uni200D</string>
    <key>zerowidthnonjoiner</key>
    <string>uni200C</string>
    <key>zerowidthspace</key>
    <string>uni200B</string>
  </dict>
</dict>
</plist>
